{%- extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}


{% block content %}
    <div class="lds-svg ng-scope">
        <svg class="lds-equalizer" width="100%" height="300px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">
            <g transform="rotate(180 50 50)">
                <rect ng-attr-x="{{7.6923076923076925 - config_width/2}}" y="15" ng-attr-width="{{config_width}}" height="40" fill="#030303" x="2.6923076923076925" width="10">
                  <animate attributeName="height" calcMode="spline" values="50;75;10;50" times="0;0.33;0.66;1" ng-attr-dur="{{config_speed}}" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" repeatCount="indefinite" begin="-0.75s" dur="1">
                  </animate>
                </rect>
                <rect ng-attr-x="{{15.384615384615385 - config_width/2}}" y="15" ng-attr-width="{{config_width}}" height="40" fill="#d39182" x="10.384615384615385" width="10">
                  <animate attributeName="height" calcMode="spline" values="50;75;10;50" times="0;0.33;0.66;1" ng-attr-dur="{{config_speed}}" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" repeatCount="indefinite" begin="-0.6666666666666666s" dur="1">
                  </animate>
                </rect>
                <rect ng-attr-x="{{23.076923076923077 - config_width/2}}" y="15" ng-attr-width="{{config_width}}" height="40" fill="#e0e0d0" x="18.076923076923077" width="10">
                  <animate attributeName="height" calcMode="spline" values="50;75;10;50" times="0;0.33;0.66;1" ng-attr-dur="{{config_speed}}" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" repeatCount="indefinite" begin="-0.5833333333333334s" dur="1">
                  </animate>
                </rect>
                <rect ng-attr-x="{{30.76923076923077 - config_width/2}}" y="15" ng-attr-width="{{config_width}}" height="40" fill="#b4b524" x="25.76923076923077" width="10">
                  <animate attributeName="height" calcMode="spline" values="50;75;10;50" times="0;0.33;0.66;1" ng-attr-dur="{{config_speed}}" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" repeatCount="indefinite" begin="-0.4166666666666667s" dur="1">
                  </animate>
                </rect>
                <rect ng-attr-x="{{38.46153846153846 - config_width/2}}" y="15" ng-attr-width="{{config_width}}" height="40" fill="#14843c" x="33.46153846153846" width="10">
                  <animate attributeName="height" calcMode="spline" values="50;75;10;50" times="0;0.33;0.66;1" ng-attr-dur="{{config_speed}}" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" repeatCount="indefinite" begin="-0.9166666666666666s" dur="1">
                  </animate>
                </rect>
                <rect ng-attr-x="{{46.15384615384615 - config_width/2}}" y="15" ng-attr-width="{{config_width}}" height="40" fill="#7c9ba0" x="41.15384615384615" width="10">
                  <animate attributeName="height" calcMode="spline" values="50;75;10;50" times="0;0.33;0.66;1" ng-attr-dur="{{config_speed}}" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" repeatCount="indefinite" begin="-0.8333333333333334s" dur="1">
                  </animate>
                </rect>
                <rect ng-attr-x="{{53.84615384615385 - config_width/2}}" y="15" ng-attr-width="{{config_width}}" height="40" fill="#1087b0" x="48.84615384615385" width="10">
                  <animate attributeName="height" calcMode="spline" values="50;75;10;50" times="0;0.33;0.66;1" ng-attr-dur="{{config_speed}}" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" repeatCount="indefinite" begin="-0.16666666666666666s" dur="1">
                  </animate>
                </rect>
                <rect ng-attr-x="{{61.53846153846154 - config_width/2}}" y="15" ng-attr-width="{{config_width}}" height="40" fill="#35578f" x="56.53846153846154" width="10">
                  <animate attributeName="height" calcMode="spline" values="50;75;10;50" times="0;0.33;0.66;1" ng-attr-dur="{{config_speed}}" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" repeatCount="indefinite" begin="-0.5s" dur="1">
                  </animate>
                </rect>
                <rect ng-attr-x="{{69.23076923076923 - config_width/2}}" y="15" ng-attr-width="{{config_width}}" height="40" fill="#2e385b" x="64.23076923076923" width="10">
                  <animate attributeName="height" calcMode="spline" values="50;75;10;50" times="0;0.33;0.66;1" ng-attr-dur="{{config_speed}}" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" repeatCount="indefinite" begin="-0.25s" dur="1">
                  </animate>
                </rect>
                <rect ng-attr-x="{{76.92307692307692 - config_width/2}}" y="15" ng-attr-width="{{config_width}}" height="40" fill="#22202c" x="71.92307692307692" width="10">
                  <animate attributeName="height" calcMode="spline" values="50;75;10;50" times="0;0.33;0.66;1" ng-attr-dur="{{config_speed}}" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" repeatCount="indefinite" begin="-0.08333333333333333s" dur="1">
                  </animate>
                </rect>
                <rect ng-attr-x="{{84.61538461538461 - config_width/2}}" y="15" ng-attr-width="{{config_width}}" height="40" fill="#6a5363" x="79.61538461538461" width="10">
                  <animate attributeName="height" calcMode="spline" values="50;75;10;50" times="0;0.33;0.66;1" ng-attr-dur="{{config_speed}}" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" repeatCount="indefinite" begin="-0.3333333333333333s" dur="1">
                  </animate>
                </rect>
                <rect ng-attr-x="{{92.3076923076923 - config_width/2}}" y="15" ng-attr-width="{{config_width}}" height="40" fill="#af243d" x="87.3076923076923" width="10">
                  <animate attributeName="height" calcMode="spline" values="50;75;10;50" times="0;0.33;0.66;1" ng-attr-dur="{{config_speed}}" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" repeatCount="indefinite" begin="0s" dur="1">
                  </animate>
                </rect>
            </g>
        </svg>
    </div>

{%- endblock %}